[Unit]
Description=Check GitHub for Toscani Tenekeu portfolio updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=20s
Persistent=true
Unit=toscani-tenekeu-portfolio-auto-deploy.service

[Install]
WantedBy=timers.target
